In [1]:
import pandas as pd

In [2]:
df = pd.read_json('./data/dbmovies.json')

In [4]:
df.head(3)

,id,title,url,cover,rate,director,composer,actor,category,district,language,showtime,length,othername
0,25746375,我是路人甲,http://movie.douban.com/subject/25746375/,http://img3.douban.com/view/movie_poster_cover...,7.4,[尔冬升],[尔冬升],"[万国鹏, 王婷, 沈凯, 徐小琴, 林晨, 魏星, 蒿怡帆, 蒿怡菲, 覃培军, 王昭, ...","[剧情, 喜剧]",[China_中国大陆],"[汉语普通话, 粤语, 浙江方言]",2015.0,134.0,[I Am Somebody]
1,5446197,铁拳,http://movie.douban.com/subject/5446197/,http://img3.douban.com/view/movie_poster_cover...,7.1,[安东尼·福奎阿],[科特·萨特],"[杰克·吉伦哈尔, 福里斯特·惠特克, 瑞秋·麦克亚当斯, 娜奥米·哈里斯, 50分, 乌娜...","[剧情, 动作, 运动]","[United States of America_美国, China_中国大陆]",[英语],2015.0,123.0,"[左撇子, 震撼擂台(台), 再战击情(港)]"
2,25885212,我们梦中见,http://movie.douban.com/subject/25885212/,http://img4.douban.com/view/movie_poster_cover...,7.6,[布雷特·海利],"[Marc Basch, 布雷特·海利]","[布莱思·丹纳, 马丁·斯塔尔, 琼·斯奎布, 雷亚·普尔曼, 玛丽·凯·普莱斯, 玛琳·阿...","[剧情, 喜剧]",[United States of America_美国],[英语],2015.0,92.0,None

###### 实体类型（entity）：电影、人名、电影类型、年份、地区、语言
###### 电影属性：名字、id、时长、url、豆瓣评分
###### 人物属性：id </br></br>

###### 实体-实体 关系：
###### 电影-导演-人名
###### 电影-编剧-人名
###### 电影-演员-人名
###### 电影-类型-电影类型
###### 电影-上映时间-年份
###### 电影-上映地点-地点

###### 实体-属性 关系：

###### 电影-id-id
###### 电影-豆瓣评分-分数
###### 电影-网址-url

###### 人名-id-id

###### 电影类型-id-id

###### 年份-id-id

###### 地区-id-id

In [6]:
list(df['title'].values)

['我是路人甲',
 '铁拳',
 '我们梦中见',
 '少年透明人',
 '撒迦利亚',
 '非我',
 '唇上之歌',
 '如晴天，似雨天',
 '故事的故事',
 '奸臣',
 '头脑特工队',
 '小森林 冬春篇',
 '小男孩',
 '可爱的你',
 '花与爱丽丝杀人事件',
 '百元之恋',
 '少年班',
 '末日崩塌',
 '深夜食堂 电影版',
 '冲出康普顿',
 '魔力麦克2',
 '谜城',
 '模仿游戏',
 '小羊肖恩',
 '进击的巨人真人版：前篇',
 '女间谍',
 '爆裂鼓手',
 '杀破狼2',
 '道士下山',
 '我是谁：没有绝对安全的系统',
 '贝利叶一家',
 '疯狂的麦克斯4：狂暴之路',
 '时光尽头的恋人',
 '坏姐姐之拆婚联盟',
 '嘘！禁止想象！',
 '机械姬',
 '栀子花开',
 '复仇者联盟2：奥创纪元',
 '工作女郎',
 '少女哪吒',
 '我的个神啊',
 '左耳',
 '对风说爱你',
 '小时代4：灵魂尽头',
 '消失的爱人',
 '暗黑之地',
 '麦克法兰',
 '风流艳妇',
 '念念',
 '速度与激情7',
 '王牌特工：特工学院',
 '泰迪熊2',
 '远离尘嚣',
 '新步步惊心',
 '国际市场',
 '重返20岁',
 '分歧者2：绝地反击',
 '最长的旅程',
 '阿罗哈',
 '暴疯语',
 '美国狙击手',
 '味园Universe',
 '寄生兽',
 '中国之旅',
 '疯狂外星人',
 '控制游戏',
 '超能查派',
 '所罗门的伪证前篇：事件',
 '星际穿越',
 '天将雄师',
 '冲锋车',
 '霍比特人3：五军之战',
 '金衣女人',
 '无人引航',
 '侏罗纪世界',
 '帕丁顿熊',
 '超能陆战队',
 '赤道',
 '有一个地方只有我们知道',
 '男人与鸡',
 '博物馆奇妙夜3',
 '44号孩子',
 '万物生长',
 '0.5毫米',
 '鸭王',
 '战狼',
 '爱你，罗茜',
 '江南1970',
 '第七子：降魔之战',
 '军犬麦克斯',
 '一步之遥',
 '生活残骸',
 '海月姬',
 '雏妓',
 '灰姑娘',
 '横冲直撞好莱坞',
 '涉足荒野',
 '所罗门的伪证后篇：审判',
 '命中注定',
 '何以笙箫默',
 '许三观',
 '午夜邂逅',
 '贵族大盗',
 '智取威虎山',
 '木星上行',
 '我是女王',
 '爱的那点性事',
 '西部慢调',
 '暴走神探',
 '客人',
 '完美音调2',
 '饥饿游戏3：嘲笑鸟(上)',
 '二十',
 '失孤',
 '坚不可摧',
 '测试',
 '七日地狱',
 '明星伙伴',
 '钟馗伏魔：雪妖魔灵',
 '太平轮(上)',
 '少数意见',
 '爱情限时恋未尽',
 '十万个冷笑话',
 '海绵宝宝历险记：海绵出水',
 '狂怒',
 '长寿商会',
 '飓风营救3',
 '要听神明的话',
 '缄默的迷宫',
 '通灵之六世古宅',
 '北京纽约',
 '我们假期做了什么',
 '伸冤人',
 '焦点',
 '新女友',
 '鬼牌游戏',
 '大眼睛',
 '小混乱',
 '麦兜我和我妈妈',
 '珍妮的婚礼',
 '咱们结婚吧',
 '冲上云霄',
 '匆匆那年',
 '塞尔玛',
 '法老与众神',
 '魔法黑森林',
 '1944',
 '烈性摔跤',
 '再见我们的十年',
 '法国战恋曲',
 '微爱之渐入佳境',
 '真幌站前狂想曲',
 '青春之旅 真人版',
 '潜伏3',
 '布拉芙夫人',
 '花宵道中',
 '移动迷宫',
 '暗夜逐仇',
 '生命之书',
 '近距离恋爱',
 '真实故事',
 '纸之月',
 '性本恶',
 '有种你爱我',
 '浪客剑心：传说的完结篇',
 '玩命警车',
 '丹尼·科林斯',
 '涉外大饭店2',
 '高手们',
 '不死鸟',
 '马达加斯加的企鹅',
 '乐高DC超级英雄：正义联盟之末日军团的进攻',
 '鞋匠人生',
 '人体蜈蚣3',
 '朝我心脏开枪',
 '12金鸭',
 '哥本哈根',
 '年鉴计划',
 '女孩闺房',
 '寄生兽：完结篇',
 '撒娇女人最好命',
 '娚的一生',
 '疾速追杀',
 '阁楼',
 '正义联盟：神魔之战',
 '白幽灵传奇之绝命逃亡',
 '女狙击手',
 '封门诡影',
 '恋爱的味道',
 '全力扣杀',
 '死亡录像4：启示录',
 '沼泽地',
 '深夜前的五分钟',
 '极秘搜查',
 '隐秘的诱惑',
 '魁拔Ⅲ战神崛起',
 '偷狗的完美方法',
 '别惹德州',
 '一万年以后',
 '一路惊喜',
 '我的早更女友',
 '露水红颜',
 '京城学校：消失的少女们',
 '福福庄的阿福',
 '年轻母亲3：我年纪如何',
 '恋爱排班表',
 '定制伴郎',
 '男人不可以穷',
 '熊出没之雪岭熊风',
 '至暴之年',
 '狱前教育',
 '不能说的夏天',
 '举报者',
 '名侦探柯南：江户川柯南失踪事件～史上最惨的两天～',
 '延坪海战',
 '骇客交锋',
 '去见瀑布',
 '小野寺姐弟',
 '垃圾男孩',
 '脑浆炸裂少女',
 '一个人的武林',
 '黄飞鸿之英雄有梦',
 '单身男女2',
 '勃艮第公爵',
 'X射线营地',
 '恶魔',
 '奔跑者',
 '安娜贝尔',
 '速度超越激情',
 '机动战士高达 THE ORIGIN I 青瞳的卡斯巴尔',
 '恶老板2',
 '德古拉元年',
 '黎明的沙耶',
 '阿呆与阿瓜2',
 '占水师',
 '平行宇宙',
 '罪恶的编年史',
 '永远十六岁',
 '青春誓约',
 '机器纪元',
 '第28年的甲子园',
 '赛琳娜',
 '不速之客',
 '最好的我',
 '安妮：纽约奇缘',
 '人艰不拆',
 '我的爱我的新娘',
 '我很好，谢谢，我爱你',
 '大象之歌',
 '痞子英雄2：黎明升起',
 '小叮当：永无兽传奇',
 '10年计划',
 '鬼驱人',
 '无赖汉',
 'ST 红白的搜查档案',
 '行过死荫之地',
 '灭绝：丧尸屠城',
 '仲夏夜魔法',
 '爸爸的假期',
 '逆转胜',
 '今天的恋爱',
 '男人女人和孩子',
 '丧家之女',
 '触不可及',
 '丑女也有春天',
 '鲁斯和亚历克斯',
 '摇滚英雄',
 '尚衣院',
 '乐高DC超级英雄：正义联盟大战异魔联盟',
 '想爱就爱2.5',
 '四个月亮',
 '惊天绑架团',
 '石榴坡的复仇',
 '如此美好',
 '王牌',
 '僵尸来袭',
 '喧嚣贵族',
 '社交恐惧症',
 '神探驾到',
 '独自夜归的女孩',
 '阴阳先生',
 '小心许愿',
 '美丽谎言',
 '致命弯道6：终极审判',
 '温哥华的朝日',
 '刺客学妹',
 '纯真时代',
 '全能囧爸',
 '杀了我三次',
 '女生宿舍',
 '戴维克罗的恋爱和魔法',
 '陌生之地',
 '亚马逊萌猴奇遇记',
 '我们是兄弟',
 '爱与慈悲',
 '东京婚约',
 '二龙湖浩哥之狂暴之路',
 '林荫大道',
 '人狼游戏2：野兽阵营',
 '蝙蝠侠无极限：怪兽来袭',
 '后裔',
 '柔浪',
 '环城七十里',
 '无敌双环枪',
 '再见歌舞伎町',
 '加班遇到鬼',
 '法国缉毒风云',
 '真爱',
 '成人初学者',
 '包法利夫人',
 '新包法利夫人',
 '有我在这里',
 '丧尸围城：瞭望塔',
 '爱，藏起来',
 '危楼愚夫',
 '活埋前女友',
 '晚安妈咪',
 '御宅大冒险',
 'X加Y',
 '不凡之路',
 '人质',
 '杀手女教师',
 '艺术大师',
 '亲子饭',
 '猫和老鼠：间谍使命',
 '善意杀戮',
 '妈咪侠',
 '理发师',
 '金箍棒传奇2：沙僧的逆袭',
 '美的统治',
 '庄稼之岛',
 '神在巴厘岛',
 '生命如此美好',
 '情事',
 '聋哑部落',
 '重拾人生',
 '东京难民',
 '百货战警2',
 '曼戈霍恩',
 '西游记之大圣归来',
 '日日摇滚',
 '花葬',
 '宝藏猎人久美子',
 '使命召唤',
 '灯光之外',
 '危险的见面礼2',
 '小黄人大眼萌',
 '我的男友和狗',
 '陡岸凶杀案',
 '中国城',
 '第二次爱你',
 '你爱的某人',
 '枪长莫及',
 '希波克拉底',
 '地狱奶奶',
 '终结者：创世纪',
 '年轻时候',
 '卡贾基',
 '把爸爸借给你',
 '蝙蝠侠无极限：动物本能',
 '点对点',
 '拼凑梦想',
 '仅此一夜',
 '恋恋如歌',
 '幸存者',
 '商务囧途',
 '远离人迹',
 '起死回生',
 '编剧情缘',
 '野狗们',
 '杀人依赖',
 '欢迎来到我的世界',
 '旧情',
 '只想和你在一起',
 '蜩之记',
 '不是冤家不聚头',
 '宝贝',
 '我的神烦腐妈',
 '朝鲜名侦探：奴隶的女儿',
 '阿斯特里克斯历险记：诸神之宫殿',
 '在我走之前',
 '真实',
 '诉讼',
 '暧昧不明关系研究学会',
 '世纪审判',
 '幸运情人草',
 '白色上帝',
 '人皮交易',
 '立体声',
 '爱情碎片',
 '温暖渐冻心',
 '感受大海的时刻',
 '想飞',
 '天师斗僵尸',
 '不可思议的海岸物语',
 '心脏移植医师',
 '伪造者',
 '失魂记忆',
 '侠僧探案传奇之将军府',
 '侠僧探案传奇之催命符',
 '侠僧探案传奇之开封府',
 '苹果恋爱多',
 '葡萄的眼泪',
 '公平竞赛',
 '侠僧探案传奇之醉玲珑',
 '侠僧探案传奇之洛阳花会',
 '解除好友',
 '爱在初春惊变时',
 '真英雄',
 '廷巴克图',
 '临时保姆',
 '德水里五兄弟',
 '侠僧探案传奇之大兴赌坊',
 '严惩',
 '男孩遇见女孩',
 '回光奏鸣曲',
 '甜蜜地狱之家',
 '海军陆战队员4',
 '侠僧探案传奇之白马镖局',
 '业内前五',
 '最后的骑士',
 '迷河',
 '侠僧探案传奇之王陵之谜',
 '太阳坐落之处',
 '少年轻狂',
 '侠僧探案传奇之大夜叉',
 '寒枝雀静',
 '它在身后',
 '荒野',
 '爱情攻略',
 '被舍弃的人们',
 '时光穿梭',
 '风暴之土',
 '致命追踪',
 '赌棍',
 '上帝难为',
 '阿提克斯研究所',
 '野鸡杀手',
 '追债大乱斗',
 '遭难者们',
 '吉米的舞厅',
 '美好世界终结时',
 '浴血华沙',
 '惊情谍变',
 '河畔的朔子',
 '失踪顺序',
 '诺曼人：维京传奇',
 '海洋之歌',
 '赤足',
 '黑手党只在夏天杀人',
 '黑海夺金',
 '生活伴侣',
 '行动代号：孙中山',
 '大喜临门',
 '食女',
 '伊朗式分手',
 '克莉丝堤：杀人网站',
 '迷失课后',
 '自由之丘',
 '骡子',
 '低入尘埃',
 '艾尔莎与弗雷德',
 '思春期游戏',
 '小森林 夏秋篇',
 '生活艰难也许快乐',
 '基隆',
 '我的男人',
 '老木逢春',
 '蜜月重温',
 '寻找幸福的赫克托',
 '大人不及格',
 '热血男人帮',
 '荒蛮故事',
 '奇怪的猫咪',
 '可爱老女人',
 '圣餐',
 '热血之路',
 '鳄鱼的黄眼睛',
 '鲁邦三世',
 '玫瑰香水',
 '早熟',
 '海豚的故事2',
 '蛋糕',
 '新年行动',
 '隔壁的男孩',
 '迷失1971',
 '澳门风云2',
 '血色孤语',
 '我的独裁者',
 '侠僧探案传奇之聚义钱庄',
 '顶级较量',
 '恶梦小姐 梦影版',
 '狼图腾',
 '东京暴族',
 '怒火保镖',
 '扑通扑通我的人生',
 '单身派对',
 '太平洋幽灵',
 '一曲倾情',
 '共犯',
 '杀死信使',
 '背负春天',
 '卒迹',
 '呼吸',
 '杀回归家路',
 '女儿国的杰基',
 '扑克之夜',
 '亚历山大和他最糟糕的一天',
 '米斯特和皮特必败',
 '幕末高校生',
 '在我消失前',
 '鸟瞰人生',
 '冰毒',
 '利维坦',
 '游客',
 '中间人2',
 '锡尔斯玛利亚',
 '危险的传言',
 '正义联盟：亚特兰蒂斯的宝座',
 '奇迹',
 '小乌龟是如何长大的',
 '金橘',
 '漫步夏威夷',
 '万能鉴定士Q：蒙娜丽莎之瞳',
 '第二扇窗',
 '被告护士',
 '爱很怪',
 '足不出户',
 '危险行为',
 '狙击精英：战纪',
 '近距离击杀',
 '冷库',
 '女子战队',
 '狐狸猎手',
 '意大利之旅',
 '枪之子',
 '杀妻同盟军',
 '他和她的孤独情事',
 '一千次晚安',
 '骄傲',
 '危险藏匿',
 '透纳先生',
 '晴天霹雳',
 '长牙',
 '吸血鬼生活',
 '幽暗山谷',
 '边境',
 '圣人文森特',
 '爱要来了',
 '再见语言',
 '魂断布宜诺斯艾利斯',
 '寻找隐世快乐',
 '罪恶赎金',
 '慢放镜头',
 '猫和老鼠：迷失之龙',
 '哆啦A梦：伴我同行',
 '女子学校拷问部',
 '依然爱丽丝',
 '夜间飞行',
 'I型起源',
 '冬眠',
 '鸣梁海战',
 '大峰祖师',
 '美满姻缘',
 '决胜巅峰',
 '超高速！ 参勤交代',
 '泳队惊魂',
 '致命录像带3：病毒',
 '嫉妒',
 '只要你说你爱我',
 '弹窗惊魂',
 '救世',
 '我们的家族',
 '肖申克的救赎',
 '盗梦空间',
 '这个杀手不太冷',
 '阿甘正传',
 '霸王别姬',
 '三傻大闹宝莱坞',
 '千与千寻',
 '美丽人生',
 '泰坦尼克号',
 '海上钢琴师',
 '机器人总动员',
 '少年派的奇幻漂流',
 '忠犬八公的故事',
 '辛德勒的名单',
 '大话西游之大圣娶亲',
 '放牛班的春天',
 '触不可及',
 '怦然心动',
 '当幸福来敲门',
 '龙猫',
 '楚门的世界',
 '搏击俱乐部',
 '教父',
 'V字仇杀队',
 '大话西游之月光宝盒',
 '飞屋环游记',
 '疯狂原始人',
 '让子弹飞',
 '无间道',
 '天堂电影院',
 '蝙蝠侠：黑暗骑士',
 '指环王3：王者无敌',
 '天空之城',
 '罗马假日',
 '十二怒汉',
 '两杆大烟枪',
 '鬼子来了',
 '天使爱美丽',
 '窃听风暴',
 '七宗罪',
 '乱世佳人',
 '美丽心灵',
 '致命魔术',
 '剪刀手爱德华',
 '飞越疯人院',
 '被嫌弃的松子的一生',
 '闻香识女人',
 '指环王1：魔戒再现',
 '活着',
 '指环王2：双塔奇兵',
 '阿凡达',
 '本杰明·巴顿奇事',
 '神偷奶爸',
 '哈尔的移动城堡',
 '阳光姐妹淘',
 '蝴蝶效应',
 '情书',
 '死亡诗社',
 '禁闭岛',
 '西西里的美丽传说',
 '低俗小说',
 '恐怖直播',
 '钢琴家',
 '沉默的羔羊',
 '驯龙高手',
 '狩猎',
 '黑客帝国',
 '教父2',
 '致命ID',
 '饮食男女',
 '狮子王',
 '美国往事',
 '时空恋旅人',
 '告白',
 '黑天鹅',
 '射雕英雄传之东成西就',
 '入殓师',
 '勇敢的心',
 '心灵捕手',
 '加勒比海盗',
 '杀人回忆',
 '重庆森林',
 '断背山',
 '玛丽和马克思',
 '拯救大兵瑞恩',
 '7号房的礼物',
 '第六感',
 '再次出发之纽约遇见你',
 '阳光灿烂的日子',
 '岁月神偷',
 '贫民窟的百万富翁',
 '大鱼',
 '哈利·波特与死亡圣器(下)',
 '源代码',
 '超脱',
 '爱在黎明破晓前',
 '记忆碎片',
 '蝙蝠侠：黑暗骑士崛起',
 '达拉斯买家俱乐部',
 '初恋这件小事',
 '那些年，我们一起追的女孩',
 '音乐之声',
 '猫鼠游戏',
 '幽灵公主',
 '甜蜜蜜',
 '春光乍泄',
 '恐怖游轮',
 '小鞋子',
 '怪兽电力公司',
 '爱在日落黄昏时',
 '借东西的小人阿莉埃蒂',
 '恋恋笔记本',
 '无敌破坏王',
 '哈利·波特与魔法石',
 '上帝之城',
 '唐伯虎点秋香',
 '倩女幽魂',
 '秒速5厘米',
 '被解救的姜戈',
 '穿条纹睡衣的男孩',
 '萤火之森',
 '真爱至上',
 '国王的演讲',
 '控方证人',
 '喜剧之王',
 '大闹天宫',
 '雨人',
 '香水',
 '菊次郎的夏天',
 '一一',
 '萤火虫之墓',
 '傲慢与偏见',
 '东邪西毒',
 '摩登时代',
 '风之谷',
 '幸福终点站',
 '爱在午夜降临前',
 '玩具总动员3',
 '碟中谍4',
 '速度与激情5',
 '冰川时代',
 '侧耳倾听',
 '悲惨世界',
 '谍影重重3',
 '末代皇帝',
 '疯狂的石头',
 '终结者2',
 '红辣椒',
 '穿越时空的少女',
 '穆赫兰道',
 '猜火车',
 '这个男人来自地球',
 '朗读者',
 '浪潮',
 '追随',
 '你看起来好像很好吃',
 '花样年华',
 '神偷奶爸2',
 '人工智能',
 '青蛇',
 '英雄本色',
 '卢旺达饭店',
 '教父3',
 '燃情岁月',
 '喜宴',
 '谍影重重',
 '完美的世界',
 '纵横四海',
 '未麻的部屋',
 '一次别离',
 '七武士',
 '两小无猜',
 '复仇者联盟',
 '罗生门',
 '撞车',
 '无耻混蛋',
 '我是山姆',
 '大卫·戈尔的一生',
 '阿飞正传',
 '变脸',
 '月球',
 '谍影重重2',
 '虎口脱险',
 '战争之王',
 '新龙门客栈',
 '海盗电台',
 '假如爱有天意',
 '魔女宅急便',
 '曾经',
 '霍比特人1：意外之旅',
 '黑客帝国3：矩阵革命',
 '美国丽人',
 '梦之安魂曲',
 '云图',
 '发条橙',
 'E.T. 外星人',
 '蓝色大门',
 '千钧一发',
 '英国病人',
 '东京物语',
 '荒野生存',
 '和莎莫的500天',
 '志明与春娇',
 '魂断蓝桥',
 '忠犬八公物语',
 '非常嫌疑犯',
 '可可西里',
 '怪兽大学',
 '逃离德黑兰',
 '爱在暹罗',
 '赛德克·巴莱',
 '勇士',
 '我的野蛮女友',
 '里约大冒险',
 '开心家族',
 '社交网络',
 '遗愿清单',
 '刺猬的优雅',
 '偷拐抢骗',
 '地球上的星星',
 '荒岛余生',
 '勇闯夺命岛',
 '叫我第一名',
 '夜访吸血鬼',
 '血钻',
 '中国合伙人',
 '金陵十三钗',
 '惊魂记',
 '桃姐',
 '地心引力',
 '听说',
 '雨中曲',
 '阿黛尔的生活',
 '无间道2',
 '穿普拉达的女王',
 '末路狂花',
 '功夫熊猫2',
 'X战警：第一战',
 '绿里奇迹',
 '登堂入室',
 '金福南杀人事件始末',
 '东邪西毒：终极版',
 '上帝也疯狂',
 '卡萨布兰卡',
 '碧海蓝天',
 '暖暖内含光',
 '枪火',
 '孤儿',
 '2001太空漫游',
 '第九区',
 '风声',
 '牯岭街少年杀人事件',
 '钢的琴',
 '人再囧途之泰囧',
 '麦兜故事',
 '黄金三镖客',
 '城市之光',
 '色，戒',
 '飓风营救',
 '我爱你',
 '黑客帝国2：重装上阵',
 '不一样的天空',
 '廊桥遗梦',
 '一天',
 '老男孩',
 '了不起的盖茨比',
 '九品芝麻官',
 '变形金刚',
 '一代宗师',
 '导盲犬小Q',
 '巴黎淘气帮',
 '龙纹身的女孩',
 '僵尸新娘',
 '杀死比尔',
 '坠入',
 '蝴蝶',
 '猩球崛起',
 '哪吒闹海',
 '神探',
 '横道世之介',
 '伴我同行',
 '我在伊朗长大',
 '百万美元宝贝',
 '追击者',
 '千年女优',
 '燕尾蝶',
 '黑鹰坠落',
 '铁甲钢拳',
 '午夜巴黎',
 '海底总动员',
 '嫌疑人X的献身',
 '盗钥匙的方法',
 '阳光小美女',
 '北京遇上西雅图',
 '他其实没那么喜欢你',
 '万箭穿心',
 '悲情城市',
 '加勒比海盗2：聚魂棺',
 '碟中谍',
 '环太平洋',
 '黑暗面',
 '了不起的狐狸爸爸',
 '角斗士',
 '洛城机密',
 '狗镇',
 '爱·回家',
 '蝙蝠侠：侠影之谜',
 '八月迷情',
 '中央车站',
 '悬崖上的金鱼姬',
 '国产凌凌漆',
 '灿烂人生',
 '哈利·波特与密室',
 '惊天魔盗团',
 '黄海',
 '赛德克·巴莱(上)：太阳旗',
 '功夫熊猫',
 '新世界',
 '大独裁者',
 '一级恐惧',
 '最佳出价',
 '星际迷航：暗黑无界',
 '盲井',
 '罗拉快跑',
 '跳出我天地',
 '后天',
 '弱点',
 '2012',
 '出租车司机',
 '成为简·奥斯汀',
 '壁花少年',
 '暗战',
 '美食总动员',
 '雏菊',
 '功夫',
 '无姓之人',
 '步履不停',
 '万能钥匙',
 '东京教父',
 '终结者',
 '小鬼当家',
 '失恋33天',
 '马达加斯加3',
 '钢铁侠',
 '心慌方',
 '换子疑云',
 '甲方乙方',
 '蒂凡尼的早餐',
 '时时刻刻',
 '落水狗',
 '攻壳机动队',
 '狼的孩子雨和雪',
 '胭脂扣',
 '生活多美好',
 '冰川时代4',
 '小岛惊魂',
 '花与爱丽丝',
 '十二猴子',
 '逆光飞翔',
 '土拨鼠之日',
 '我是传奇',
 '恋恋风尘',
 '战马',
 '诺丁山',
 '疯狂约会美丽都',
 'K星异客',
 '赛德克·巴莱(下)：彩虹桥',
 '哈利·波特与阿兹卡班的囚徒',
 '玩具总动员',
 '春夏秋冬又一春',
 '查理和巧克力工厂',
 '侏罗纪公园',
 '莫扎特传',
 '魔发奇缘',
 '那山那人那狗',
 '为奴十二载',
 '加勒比海盗3：世界的尽头',
 '兵临城下',
 '相助',
 '黑衣人',
 '朱诺',
 '西雅图未眠夜',
 '初恋50次',
 '我们俩',
 '人鬼情未了',
 '童年往事',
 '编舟记',
 '迷雾',
 '沉静如海',
 '速度与激情6',
 '起风了',
 '再见列宁',
 '隐秘而伟大',
 '与狼共舞',
 '乌云背后的幸福线',
 '孤胆特工',
 '精英部队2：大敌当前',
 '红猪',
 '天书奇谭',
 '笑傲江湖2：东方不败',
 '红高粱',
 '冰川时代3',
 '激战',
 '热血警探',
 '闪灵',
 '独自等待',
 '爱',
 '钢铁侠3',
 '李米的猜想',
 '回到未来',
 '推手',
 '卧虎藏龙',
 '月升王国',
 '费城故事',
 '哈利·波特与火焰杯',
 '内布拉斯加',
 '麦兜当当伴我心',
 '食神',
 '你丫闭嘴！',
 '狙击电话亭',
 '赎罪',
 '单身男子',
 '大红灯笼高高挂',
 '超时空接触',
 '和声',
 '空中监狱',
 '人在囧途',
 ...]

In [7]:
movies = list(df['title'].values)
lengthes = list(df['length'].values)
urls = list(df['url'].values)
rates = list(df['rate'].values)
movie_ids = [i for i in range(len(movies))]

In [8]:
len(movie_ids),len(lengthes),len(movies),len(urls),len(rates)

(4587, 4587, 4587, 4587, 4587)

In [9]:
entity_movies = pd.DataFrame({'name':movies,'id':movie_ids,'url':urls,'rate':rates,'length':lengthes})
entity_movies

           name    id                                        url  rate  length
0         我是路人甲     0  http://movie.douban.com/subject/25746375/   7.4   134.0
1            铁拳     1   http://movie.douban.com/subject/5446197/   7.1   123.0
2         我们梦中见     2  http://movie.douban.com/subject/25885212/   7.6    92.0
3         少年透明人     3  http://movie.douban.com/subject/25728581/   6.6   100.0
4          撒迦利亚     4   http://movie.douban.com/subject/5156558/   6.0    95.0
...         ...   ...                                        ...   ...     ...
4582       幽灵世界  4582   http://movie.douban.com/subject/1304868/   7.9   111.0
4583      吮拇指的人  4583   http://movie.douban.com/subject/1422954/   7.2    96.0
4584  歌舞青春3：毕业季  4584   http://movie.douban.com/subject/2215609/   7.3   112.0
4585        大河恋  4585   http://movie.douban.com/subject/1292718/   8.4   123.0
4586       青春年少  4586   http://movie.douban.com/subject/1296835/   7.9    93.0

[4587 rows x 5 columns]

In [10]:
entity_movies.to_csv('./data/entities/movies.csv',index = None,encoding = 'utf8')

In [15]:
directors = list(df['director'].values)
composers = list(df['composer'].values)
actors = list(df['actor'].values)
people = []
for i in directors:
    if i:
        people.extend(i)
for j in composers:
    if j:
        people.extend(j)
for k in actors:
    if k:
        people.extend(k)
print('合并前人物个数：'+str(len(people)))
people = list(set(people))
print('合并后人物个数：'+str(len(people)))
person_ids = [n for n in range(len(people))]

合并前人物个数：48617
合并后人物个数：22937

In [16]:
entity_people = pd.DataFrame({'name':people,'id':person_ids})
entity_people

               name     id
0               伊藤兰      0
1              冰室冴子      1
2            乔·马辛吉尔      2
3      Scott Thomas      3
4            乔伊·克莱默      4
...             ...    ...
22932      哈尔·霍尔布鲁克  22932
22933          水泽奈子  22933
22934            吴迪  22934
22935           于嘉萌  22935
22936  David Warner  22936

[22937 rows x 2 columns]

In [17]:
entity_people.to_csv('./data/entities/people.csv',index = None,encoding = 'utf8')

In [18]:
mv_classes = df['category'].values
classes = []
for c in mv_classes:
    if c:
        classes.extend(c)
mv_classes = list(set(classes))
class_ids = [n for n in range(len(mv_classes))]

In [19]:
entity_mv_classes = pd.DataFrame({'name':mv_classes,'id':class_ids})
entity_mv_classes

    name  id
0     情色   0
1     悬念   1
2     家庭   2
3     同性   3
4     战争   4
5     惊悚   5
6     武侠   6
7     爱情   7
8     喜剧   8
9     西部   9
10    历史  10
11    古装  11
12    惊栗  12
13    科幻  13
14    运动  14
15    恐怖  15
16    悬疑  16
17    犯罪  17
18    剧情  18
19    冒险  19
20    儿童  20
21  黑色电影  21
22    动作  22
23    音乐  23
24    鬼怪  24
25    灾难  25
26    奇幻  26
27    动画  27
28    传记  28
29    歌舞  29
30    荒诞  30

In [20]:
entity_mv_classes.to_csv('./data/entities/mv_classes.csv',index = None,encoding = 'utf8')

In [24]:
import re
def clean_districts(dis_name):
    if dis_name == 'United States of America_USA':
        return '美国'
    elif dis_name == 'Canada_Canada':
        return '加拿大'
    elif dis_name == 'United Kingdom_UK':
        return '英国'
    else:
        result = re.sub('[^\u4e00-\u9fa5]+','',dis_name)
        if result == '中国大陆':
            result = '中国'
        return result

In [25]:
clean_districts('United States of America_USA')

'美国'

In [26]:
districts = df['district'].values
districts_ = []
for d in districts:
    if d:
        districts_.extend(d)
for i in range(len(districts_)):
    districts_[i] = clean_districts(districts_[i])
districts = list(set(districts_))
district_ids = [n for n in range(len(districts))]

In [27]:
entity_districts = pd.DataFrame({'name':districts,'id':district_ids})
entity_districts

      name  id
0      墨西哥   0
1     波多黎各   1
2       荷兰   2
3     马来西亚   3
4      西班牙   4
..     ...  ..
70     意大利  70
71  乌兹别克斯坦  71
72      希腊  72
73      挪威  73
74      越南  74

[75 rows x 2 columns]

In [28]:
entity_districts.to_csv('./data/entities/districts.csv',index = None,encoding = 'utf8')

In [29]:
languages = df['language'].values
languages_ = []
for d in languages:
    if d:
        languages_.extend(d)
eng = []
for l in languages_:
    if not re.sub('[^\u4e00-\u9fa5]+','',l):
        eng.append(l)
list(set(eng))

['English',
 'Assyrian Neo-Aramaic',
 'Armenian',
 'Tatar',
 'Hawaiian',
 'Shanghainese',
 'Belarusian',
 'Ungwatsi',
 'Ukrainian',
 'Klingon',
 'Swahili',
 'Galician',
 'Icelandic',
 'Punjabi']

In [30]:
def clean_language(lan_name):
    eng_name = ['Belarusian','Armenian','English','Icelandic',
                'Punjabi','Swahili','Galician','Shanghainese','Klingon',
                'Ungwatsi','Hawaiian','Tatar','Assyrian Neo-Aramaic','Ukrainian']
    chi_name = ['比利时语','亚美尼亚语','英语','冰岛语',
                '旁遮普语','斯瓦希里语','加利西亚语','上海话','克林贡语',
                '翁瓦西','夏威夷语','鞑靼语','亚述语新阿拉姆语','乌克兰语']
    if lan_name in eng_name:
        return chi_name[eng_name.index(lan_name)]
    else:
        return re.sub('[^\u4e00-\u9fa5]+','',lan_name)

In [31]:
languages = df['language'].values
languages_ = []
for d in languages:
    if d:
        languages_.extend(d)
for i in range(len(languages_)):
    languages_[i] = clean_language(languages_[i])
languages = list(set(languages_))
language_ids = [n for n in range(len(languages))]
entity_languages = pd.DataFrame({'name':languages,'id':language_ids})
entity_languages

       name   id
0    加泰罗尼亚语    0
1      泰米尔语    1
2       保定话    2
3       毛利语    3
4       萨卡语    4
..      ...  ...
173   阿布哈兹语  173
174     缅甸语  174
175   罗马尼亚语  175
176     客家语  176
177    云南方言  177

[178 rows x 2 columns]

In [32]:
entity_languages.to_csv('./data/entities/languages.csv',index = None,encoding = 'utf8')

In [33]:
years = list(set(list(df['showtime'].values)))
years_ = []
for y in years:
    if str(y)!='nan':
        years_.append(str(int(y)))
years = years_
year_ids = [n for n in range(len(years))]

In [34]:
years

['1920',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

In [35]:
entity_years = pd.DataFrame({'name':years,'id':year_ids})
entity_years

    name  id
0   1920   0
1   1921   1
2   1922   2
3   1923   3
4   1924   4
..   ...  ..
90  2011  90
91  2012  91
92  2013  92
93  2014  93
94  2015  94

[95 rows x 2 columns]

In [36]:
entity_years.to_csv('./data/entities/years.csv',index = None,encoding = 'utf8')

###### 实体-实体 关系：
###### 电影-导演-人名 d_d_r
###### 电影-编剧-人名 d_b_r
###### 电影-演员-人名 d_y_r
###### 电影-类型-电影类型 d_l_d
###### 电影-上映时间-年份 d_s_n
###### 电影-上映地点-地点 d_s_d
###### 电影-语言-语言 d_y_y

In [37]:
#movies\people\mv_classes\districts\languages\years
mov = list(df['title'].values)
di = list(df['director'].values)
com = list(df['composer'].values)
act = list(df['actor'].values)
cat = list(df['category'].values)
lan = list(df['language'].values)
dis = list(df['district'].values)
sho = [] 
for i in list(df['showtime'].values):
    if str(i)!='nan':
        sho.append(str(int(i)))
    else:
        sho.append('')

In [38]:
relations = []
for i in range(len(mov)):
    mov_id = movies.index(mov[i])
    if di[i]:
        for d in di[i]:
            if d:
                di_id = people.index(d)
                relations.append((mov_id,'导演',di_id))
    if com[i]:
        for co in com[i]:
            if co:
                co_id = people.index(co)
                relations.append((mov_id,'编剧',co_id))
    if act[i]:
        for ac in act[i]:
            if ac:
                ac_id = people.index(ac)
                relations.append((mov_id,'演员',ac_id))
    if cat[i]:
        for ca in cat[i]:
            if ca:
                ca_id = mv_classes.index(ca)
                relations.append((mov_id,'类型',ca_id))
    if sho[i]:
        sh_id = years.index(sho[i])
        relations.append((mov_id,'上映时间',sh_id))
    if dis[i]:
        for dis_ in dis[i]:
            if dis_:
                dis_id = districts.index(clean_districts(dis_))
                relations.append((mov_id,'上映地区',dis_id))
    if lan[i]:
        for la in lan[i]:
            if la:
                la_id = languages.index(clean_language(la))
                relations.append((mov_id,'语言',la_id))

relations = list(set(relations))

In [39]:
e_r_e = pd.DataFrame(relations, columns=['Entity1', 'Relation','Entity2'])
e_r_e

       Entity1 Relation  Entity2
0         2694       编剧     6626
1         1163       语言       45
2         3738       导演    21303
3         2640       演员     9903
4         4014       演员    16694
...        ...      ...      ...
77384       65     上映地区       45
77385     1154       编剧    19790
77386     3162       导演    21575
77387     2665       演员     1147
77388      789     上映时间       86

[77389 rows x 3 columns]

In [40]:
e_r_e.to_csv('./data/relations/triple.csv',index = None,encoding = 'utf8')